@tailwind base;
@tailwind components;
@tailwind utilities;

img {
    transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

#nprogress .bar {
    height: 5px !important;
    z-index: 9999999999999999;
}